


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: 35px;
  
  
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn
{
    background-color: #343a40;
    color:white;
    border:1px white outset;
}


/*black*/
/*#343a40*/
/*blue*/
/*#5a88ca*/
#centerContent{
    margin: 0 auto;
    padding:20px;

    margin-top:50px;
    margin-bottom:200px;
    width:760px;
    background-color:white;
    font-family: verdana;
    color: black;
    text-align: center;
    border: 4px #343a40 outset;
    font-family: Raleway;
    
    
}

#h2border
{
    border-bottom: 2px black dotted;
    padding-bottom:10px;
}

#memberIdentity
{
    border: 2px #343a40 inset;
    
    margin-left: 200px;
    margin-right: 200px;
    padding:10px;
    text-align: left;
    background-color:white;
    color:#343a40;
}

#radioHover:hover{
    background-color:#e6e6e6;
}

.colorChange
{
    color:white;
    
}
.colorChange:hover
{
    
    background-color:gray;
    color:white;
}

.contactPage
{
    color:black;
    text-decoration: underline;
    
}
.contactPage:hover
{
    
    background-color:white;
}

.btn:hover{
    background-color:gray;
    border:1px white solid;
    color:white;
}

.errorMessage{
    font-weight:bold;
    background-color:white;
    color:red;
    font-size:15px;
    
}

.borderSide{
    border-left:1px black solid;
}







