/*ADDED BY AARON*/
/*sets size for images */
img {
  max-width: 100%;
  height: auto;
}

.size {
  width: 90%;
  height: 500px;
}

.adSize {
  height: 250px;
  width: auto;
}

.carouselsize3 {
  height: 400px;
  width: 2000px;
}

/*adds an image to the background*/
.side2 {
  background-image: url("../img/side2.png");
  background-color: white;
  background-size: cover;
  color: white;
}

.bg-light {
  background-color: #f4f4f4;
}

.back {
  color: white;
  background-color: black;
}

/*changes the color of the carousel captions*/
.carousel-caption {
  background-color: black;
  color: #5a88ca;
  background-size: contain;
  opacity: .8;
}

/*moves the heading text on the the background image side2 down*/
.moveSide1 {
  transform: translateY(300px);
}

.forFonts {
  font-family: raleway;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}

.resize {
  height: 300px;
  width: 500px;
}

/*make the pagination number near to the footer, from parents to children*/
.bookListControl{
    display: flex;
    flex-direction: column;

    
}
#content-detail{
    display: flex;
    flex-grow: 9999;
    flex-direction: column;
}
.forPage{
    display: flex;
    flex-grow: 9999;
    flex-direction: column;
}

#pageNavigation{
    display: flex;
    flex-grow: 9999;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 50px;
}



/* changes fonts and placments at phone screen size"*/
@media only screen and (max-width: 576px) {
  .size {
    width: 90%;
    height: 350px;
  }

  .adSize {
    height: 150px;
    width: auto;
  }

  .carouselsize3 {
    height: 200px;
    width: auto;
  }

  .resize {
    height: 400px;
    width: auto;
  }

  .forFonts {
    font-family: raleway;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
  }
}

/*changes fonts and placements at tablet size*/
@media only screen and (min-width:577px) and (max-width: 960px) {
  .size {
    width: 90%;
    height: 400px;
  }

  .adSize {
    height: 200px;
    width: auto;
  }

  .carouselsize3 {
    height: 300px;
    width: 2000px;
  }

  .resize {
    height: 400px;
    width: auto;
  }

  .forFonts {
    font-family: raleway;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
  }
}

/*Arron's style END*/
/* the following added by Hang */
body {
  font-family: Arial, Helvetica, sans-serif;
      height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

/* style for header area */
.header-area {
  background: none repeat scroll 0 0 #f4f4f4;
  margin: 0;
}

.header-area a {
  color: #888;
}

.user-menu ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.user-menu li {
  display: inline-block;
}

.user-menu li a {
  display: block;
  font-size: 13px;
  margin-right: 5px;
  padding: 10px;
}

.user-menu li a i.fa {
  margin-right: 5px;
}

ul.list-inline {
  font-size: 15px;
  margin-top: 10px;
}

ul.list-inline>li {
  display: inline-block;
}

li.language {
  float: right;
}

.mainmenu-area {
  background: none repeat scroll 0 0 #fbfbfb;
  font-family: sans-serif;
  text-transform: uppercase;
  width: 100%;
  z-index: 999;
}

div.media img {
  max-width: 150px;
}

.nav-item i.fa {
  margin-left: 15px;
}

.product-count {
  background: none repeat scroll 0 0 #5a88ca;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  height: 20px;
  padding-top: 2px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: -10px;
  width: 20px;
}

.mainmenu-area ul.navbar-nav li a {
  color: #6e6a6a;
  font-size: 14px;
}

.mainmenu-area ul.navbar-nav li:hover a, .mainmenu-area ul.navbar-nav li.active a {
  background: #5a88ca;
  color: #FFF;
}

.mainmenu-area .nav>li>a:focus {
  color: #FFF;
}

/* big title area */
.product-bit-title h2 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  padding: 50px 0;
  color: #fff;
}

.product-big-title-area {
  background: #5a88ca;
}

div.main-area>div.row {
  margin-top: 50px;
}

.add_to_cart_button {
  background: none repeat scroll 0 0 #5a88ca;
  border: medium none;
  color: #fff;
  padding: 6px 25px;
  display: inline-block
}

.add_to_cart_button:hover {
  background-color: #222;
  color: #fff;
  text-decoration: none
}

.product-carousel-price ins {
  color: #5a88ca;
  font-weight: 700;
  margin-right: 5px;
  text-decoration: none;
}

.single-shop-product h2 {
  font-size: 20px;
  margin: 10px 0;
}

.product-option-shop {
  margin-top: 15px;
}

.single-shop-product {
  margin-bottom: 50px
}

.pagination>li>a, .pagination>li>span {
  color: #5a88ca;
}

/* footer style */
.footer-top-area {
  background: none repeat scroll 0 0 #333;
  color: #999;
  padding: 35px 0 100px;
}

.footer-bottom-area {
  background: #000;
  color: #fff
}

.footer-about-us span {
  font-family: raleway;
  color: #fff;
}

.footer-wid-title {
  font-family: raleway;
  font-size: 30px;
  font-weight: 100;
  color: #fff
}

.footer-about-us h2 {
  font-weight: 200;
}

.footer-menu ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.footer-menu ul li {
  border-bottom: 1px dashed #555;
  padding: 5px 0;
}

.footer-menu a {
  display: block;
  padding: 5px 0;
  color: #999
}

.footer-social a i {
  color: #fff;
  font-size: 20px;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 10px;
  text-align: center;
  width: 40px;
  border-radius: 20px
}

.footer-social a i:hover {
  opacity: .7;
}


.fa-facebook-f {
  background: #3b5998
}

.fa-linkedin-in {
  background: #007bb6
}

.fa-twitter {
  background: #00aced
}

.fa-google {
  background: #dd4b39
}

.footer-social a:hover {
  background-color: #222;
  border-color: #666
}

.footer-social {
  margin-top: 20px;
}

.newsletter-form input[type="email"] {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.newsletter-form input[type="submit"] {
  background: none repeat scroll 0 0 #5a88ca;
  border: medium none;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 7px 20px;
  text-transform: uppercase;
  border: 1px solid #5a88ca;
}

.newsletter-form input[type="submit"]:hover {
  background: #222;
  border-color: #666
}

.newsletter-form {
  margin-top: 25px;
}

a {
  color: #5a88ca
}

a:hover, a:focus {
  color: #17a78b
}

.copyright>p {
  margin: 10px 0 0;
}

.footer-card-icon {
  font-size: 30px;
  text-align: right;
}

/* Hang's style end */
/*Wu Guo  */
#checkoutCartView hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

#detailView hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.fa {
  font-size: 18px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  margin-top: 10px;
  float: left;
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {
  width: 40%;
  height: 18px;
  background-color: #2196F3;
}

.bar-4 {
  width: 8%;
  height: 18px;
  background-color: #2196F3;
}

.bar-3 {
  width: 4%;
  height: 18px;
  background-color: #2196F3;
}

.bar-2 {
  width: 4%;
  height: 18px;
  background-color: #2196F3;
}

.bar-1 {
  width: 0%;
  height: 18px;
}

/* Zooming image */
.zoom {
  display: inline-block;
  position: relative;
}

/* magnifying glass icon */
.zoom:after {
  content: '';
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 0;
  right: 0;
}

.zoom img {
  display: block;
}

/* #checkoutCartView {
  margin-left: 5%;
} */

.bottom{
    display: table-row;
    height: 0;


}

#img1, #img2{
  width: 70px;
  height: 70px
}
/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }

  .right {
    display: none;
  }
}



@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
/*changes fonts and placements at tablet size*/
@media only screen and (min-width:577px) {
  h2 {
    font-size: 40px;
  }
  #checkoutCartView img {
    min-width: 50px;
  }
  #checkoutCartView .quntity{
    width:60%;
  }
}

@media only screen and (max-width:993px){
  #feature{
    min-width: 450px;
    margin: 10%;
  }
}

/*black*/
/*#343a40*/
/*blue*/
/*#5a88ca*/
#centerContent{
    margin: 0 auto;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:50px;
    margin-bottom:200px;
    width:760px;
    background-color:white;
    font-family: verdana;
    color: black;
    text-align: center;
    border: 4px #343a40 outset;
    font-family: Raleway;
    
    
}

div > .btn
{
    background-color:#5a88ca;
    color:white;
    border:1px #343a40 solid
}

div > .btn:hover
{
    background-color:#789ed3;
    color:white;
    border:1px #343a40 outset
}

span > .btn
{
    background-color:#343a40;
    color:white;
    border:2px green solid
}

span > .btn:hover
{
    background-color:green;
    color:white;
    border:2px green outset
}


#h2border
{
    border-bottom: 2px black dotted;
    padding-bottom:10px;
    color:#5a88ca;
}

.marginForBottom
{
    margin-bottom:2000px;
}

.floatRight
{
    float:right;
}


