{# empty Twig template #}
{% extends "master.html.twig" %}

{% block title %}
Problem
{% endblock %}
{% block content %}
    <h3>Internal error</h3>
    <img src="/images/background.jpg" width='200' alt="error">
    <P> Internal error. We are working on it. We apologize for the inconvenience. <a href="/"> click to continue </a></p>
    {% endblock %}