{% extends "master.html.twig" %}

{% block title %}
    Book Detail Information
{% endblock %}

{%block headAdd %}
    <script>
        function loadPage(pageNum, order = 'btTitleAsc') {
            var filter = {};
            filter.search1 = $("#search1").val();
            filter.search2 = $("#search2").val();
            filter.search3 = $("#search3").val();

            filter.option1 = $("#option1").val();
            filter.option2 = $("#option2").val();
            filter.option3 = $("#option3").val();

            filter.operator1 = $("#operator1").val();
            filter.operator2 = $("#operator2").val();

            filter.order = order;

            filter.pageNum = pageNum;

            $("#detail").load('/user/search/page?filter=' + JSON.stringify(filter));

        }
        $(document).ready(function () {

            $("#btSearch").click(function () {
                var order = $('.optionBtn').attr('name');
                $("#topic").html("Search Result");
                loadPage(1, order);
            });
            $('.optionBtn').click(function () {

                var orderby = $(this).text();
                $("#orderby").html(orderby);
            });
            $("#btReserve").click(function () {
                var isbn = $(this).val();
                //alert(isbn);
                $.ajax({
                        url: '/reservations/btreserveClick?isbn=' + isbn,
                        type: 'GET',
                        dataType: 'text'
                }).done(function (data) {
                   if(data.startsWith("<html")){
                        window.location.href="/login";
                    }else{
                       alert(data);
                    }
                   //alert(data);
                });
            });
           
        });

    </script>
{% endblock %}

{% block content %}
    <br/>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-6 h3" id ="topic"> Details</div>
        <div class="col-1"></div>
        <div class="col-3 h3" id="options">Options</div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-6"><hr></div>
        <div class="col-1"></div>
        <div class="col-3"><hr></div>
        <div class="col-1"></div>
    </div>


    <div class="row">
        <div class="col-1"></div>
        <div class="col-6 forpage" id="detail">
            <div class="row">
                <div class="col-6">
                    <img id="image" src="{{book.imagePath}}" width="250" class="img-fluid"><br/>
                </div>
                <div id="feature" class="col-6">
                    <h4><strong> {{book.titleName}}</strong></h4>
                    {{book.author}}<br/>


                    <p></p>
                    <div class="row">
                        <button type="button" class=" col-4 btn btn-primary" id ="btReserve" value={{book.ISBN}}>Reserve</button>
                        <div class="col-2"></div>
                        <button type="button" class=" col-4 btn btn-primary" onclick="window.location.href = '#'">Print</button>
                    </div><br><br>
                    <p>
                        Please check the avaliabity date of copies.</br>
                        Once you reserved it, we will reserve it 15 days for you.
                    </p>

                </div>
            </div>



            <div class="row">
                <div class="col-12">
                    <hr>
                    <!--Collpase-->
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link h2" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Copies
                                    </button></h2>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <table class="table table-sm table-hover">
                                        <tbody>
                                            <tr>
                                                <td>ISBN</td>
                                                <td>Number of copies</td>
                                                <td>Number of Reservations</td>
                                                <td>Avaliablity Date</td>
                                            </tr>
                                            <tr>
                                                <td>{{book.ISBN}}</td>
                                                <td>{{info.copies_numb}}</td>
                                                <td>{{info.reserv_number}}</td>
                                                <td>{{info.availability}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link h2" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        More Information
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-2"><strong>Title</strong></div>
                                        <div class="col-9">{{book.titleName}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-2"><strong>Author</strong></div>
                                        <div class="col-9">{{book.author}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-2"><strong>ISBN</strong></div>
                                        <div class="col-9">{{book.ISBN}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-2"><strong>Category</strong></div>
                                        <div class="col-9">{{book.category}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-2"><strong>Cover</strong></div>
                                        <div class="col-9">{{book.cover}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-2"><strong>Language</strong></div>
                                        <div class="col-9">{{book.language}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-2"><strong>Synopsis</strong></div>
                                        <div class="col-9">{{book.synopsis}}</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card" id="rating_bar">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link h2" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                        Reviews (9)
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-11">
                                            <div class="row">
                                                <div class="col-5">
                                                    <h4>User Rating</h4>
                                                </div>
                                                <div class="col-7">
                                                    <p>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star"></span></p>
                                                </div>
                                                <p>4.1 average based on 254 reviews.</p>
                                            </div>
                                            <hr>

                                            <div class="row">
                                                <div class="side">
                                                    <div>5 star</div>
                                                </div>
                                                <div class="middle">
                                                    <div class="bar-container">
                                                        <div class="bar-5"></div>
                                                    </div>
                                                </div>
                                                <div class="text-right">
                                                    <div>5</div>
                                                </div>
                                                <div class="side">
                                                    <div>4 star</div>
                                                </div>
                                                <div class="middle">
                                                    <div class="bar-container">
                                                        <div class="bar-4"></div>
                                                    </div>
                                                </div>
                                                <div class="text-right">
                                                    <div>2</div>
                                                </div>
                                                <div class="side">
                                                    <div>3 star</div>
                                                </div>
                                                <div class="middle">
                                                    <div class="bar-container">
                                                        <div class="bar-3"></div>
                                                    </div>
                                                </div>
                                                <div class="text-right">
                                                    <div>1</div>
                                                </div>
                                                <div class="side">
                                                    <div>2 star</div>
                                                </div>
                                                <div class="middle">
                                                    <div class="bar-container">
                                                        <div class="bar-2"></div>
                                                    </div>
                                                </div>
                                                <div class="text-right">
                                                    <div>1</div>
                                                </div>
                                                <div class="side">
                                                    <div>1 star</div>
                                                </div>
                                                <div class="middle">
                                                    <div class="bar-container">
                                                        <div class="bar-1"></div>
                                                    </div>
                                                </div>
                                                <div class="text-right">
                                                    <div>0</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-6">
                                            <a href="#">Read all 3 US customer reviews</a>
                                        </div>
                                        <button type="button" class=" col-3 btn btn-primary">Write a review</button><br><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <div class="row py-2">
                <div class="col-12">
                    <strong>Advance Search</strong>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-3"></div>
                <div class="col-5">
                    <input class="form-control" type="text" id="search1"/>
                </div>
                <div class="col-4">
                    <select class="custom-select" id="option1">
                        <option value="titles.titleName">Title</option>
                        <option value="titles.author">Author</option>
                        <option value="books.ISBN">ISBN</option>
                    </select>
                </div>
            </div>
            <div class="row"></div>
            <div class="row py-2">
                <div class="col-3">
                    <select class="custom-select" id="operator1">
                        <option value="and">And</option>
                        <option value="or">Or</option>
                    </select>
                </div>
                <div class="col-5">
                    <input class="form-control" type="text" id="search2"/>
                </div>
                <div class="col-4">
                    <select class="custom-select" id="option2">
                        <option value="titles.titleName">Title</option>
                        <option value="titles.author">Author</option>
                        <option value="books.ISBN">ISBN</option>
                    </select>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-3">
                    <select class="custom-select" id="operator2">
                        <option value="and">And</option>
                        <option value="or">Or</option>
                    </select>
                </div>
                <div class="col-5">
                    <input class="form-control" type="text" id="search3"/>
                </div>
                <div class="col-4">
                    <select class="custom-select" id="option3">
                        <option value="titles.titleName">Title</option>
                        <option value="titles.author">Author</option>
                        <option value="books.ISBN">ISBN</option>
                    </select>

                </div>
            </div>

            <div class="row pt-3">

                <div class="col-4"><span class="font-weight-bold">Sort by:</span></div>
                <div class="dropdown col-8">
                    <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="orderby">Title (ascending)</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item optionBtn" type="button" name="btTitleAsc">Title (ascending)</button>
                        <button class="dropdown-item optionBtn" type="button" name="btTitleDesc">Title (descending)</button>
                    </div>
                </div>
            </div>
            <div class="row py-5">

                <div class="col-12"><button id="btSearch" class=" btn-lg btn btn-block btn-primary">Search</button></div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>


{% endblock %}