        {% for row in itemsList %}
            <div class="row">
                <div class="col-1">
                    {%if category=="loadRenew" %}
                    <input type="checkbox" name="book[]" id="book" value="{{row.id}}"></input>
                    {%endif %}
                </div>
                <div class="col-3"><a href="/user/book-detail/{{row.ISBN}}"><img src ={{row.imagePath}} width="100" height="100"></a></img></div>
                <div class="col-8"> 
                    <div class="row">
                        <div class="font-weight-bold">{{row.titleName}}</div> 
                    </div>
                    <div class="row">
                        <div class="col-6">Document Type:</div>
                        <div class="col-6">{{row.category}}</div>
                    </div>
                    <div class="row">
                        <div class="col-6">Loan date:</div>
                        <div class="col-6">{{row.outDate|date("Y/m/d")}}</div>
                    </div>
                    <div class="row">
                        <div class="col-6">Due date:</div>
                        <div class="col-6">{{row.dueDate}}</div>
                    </div>
                    <div class="row">
                        <div class="col-6">Number of renewals</div>
                        <div class="col-6">{{row.renew_times}}</div>
                    </div>
                </div>
            </div>
            <p>
    
    {% endfor %}
