{#empty Twig template #}
<script>
    function loadPage(pageNum, order='btDueDateAsc') {
{#        var order = $('.optionBtn').attr('name');
        alert ($('#btOrderbBy option:selected').text());#}
        $("#detail").load('/ajax/books/loadHistory/page/' + pageNum +'/sortby/'+ order);
    }
    $(document).ready(function () {
        loadPage(1, 'btDueDateAsc');
        $('.optionBtn').click(function () {
            var order = $(this).attr('name');
            var orderby =$(this).text();
            $("#orderby").html(orderby);
            loadPage(1, order);
        });
    });
</script>


<h3 class="mt-4">Loans History</h3>
<hr>
<p>
<p>
<table class="table table-sm table-hover">
    <tbody>
        <tr>
            <td>Last loan date</td>
            <td>{{loans[0].dueDate}}</td>
        <tr>
            <td>Total loans ever</td>
            <td>{{count.loan_times}}</td>
        </tr>
        <tr>
            <td>Total reservations ever</td>
            <td>{{count.reserv_times}}</td>
        </tr>
    </tbody>
</table>
<p>
<p></p>
<span> Total: {{count.loan_times}} books</span><p>
<div class='row'>
    <span class="font-weight-bold">Sort by:</span>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="orderby">Due date (ascending)</span>
        </button>
        <div class="dropdown-menu" id="btOrderbBy" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item optionBtn" type="button" name="btTitleAsc">Title (ascending)</button>
            <button class="dropdown-item optionBtn" type="button" name="btTitleDesc">Title (descending)</button>
            <button class="dropdown-item optionBtn" type="button" name="btDueDateAsc">Due date (ascending)</button>
            <button class="dropdown-item optionBtn" type="button" name="btDueDateDesc">Due date (descending)</button>
        </div>
    </div>
</div>
<p>
<p>
    <div id="detail">
       </div>
        <p>
        <p>
         <div id="pageNavigation" class="text-center">
        {% for num in range(1, count.totalPages) %}
            <a href="#" onClick="loadPage({{num}})">{{num}}</a>
        {% endfor %}     
    </div>
  
