{# empty Twig template #}
<script>
    function loadPage(pageNum, order='btDueDateAsc') {

        $("#detail").load('/ajax/books/loadRenew/page/' + pageNum +'/sortby/'+ order);
    }
    $(document).ready(function () {
        loadPage(1);
        
        $('.optionBtn').click(function () {
            var order = $(this).attr('name');
            var orderby =$(this).text();
            $("#orderby").html(orderby);
            loadPage(1, order);
        });
    });

</script>

    <h3 class="mt-4">Loans and Renewals</h3>
    <hr>
    Renewal is effective from the current date.
    <p>
    <form method="post" action="/registerUser/renewBook" class="forPage">
        <div>
            <button type="submit" name="button" value="selectedBook" class="btn btn-primary btn-sm">Renew selected loans</button>
            <button type="submit"  name="button" value="allBook" class="btn btn-primary btn-sm">Renew all loans</button>
            <button type="submit"  name="button" value="printBook" class="btn btn-primary btn-sm">Print</button>
            <button type="submit"  name="button" value="sendEmail" class="btn btn-primary btn-sm">Send by email</button>
        </div>
        <P></P>
        <span>Total {{count.loan_times}} books</span><p>
        <div class='row'>
            <span class="font-weight-bold">Sort by:</span>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span id="orderby">Due date (ascending)</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item optionBtn" type="button" name="btTitleAsc">Title (ascending)</button>
                    <button class="dropdown-item optionBtn" type="button" name="btTitleDesc">Title (descending)</button>
                    <button class="dropdown-item optionBtn" type="button" name="btDueDateAsc">Due date (ascending)</button>
                    <button class="dropdown-item optionBtn" type="button" name="btDueDateDesc">Due date (descending)</button>
                </div>
            </div>
        </div>
        <p>
        <p>
    <div id="detail">
       </div>
        <p>
        <p>
         <div id="pageNavigation" class="text-center">
        {% for num in range(1, count.totalPages) %}
            <a href="#" onClick="loadPage({{num}})">{{num}}</a>
        {% endfor %}     
   </form> 