{#empty Twig template #}

<h3 class="mt-4">Payment History</h3>
<hr>
<p>
    <Strong>Summary</strong>
<p>
<table class="table table-sm table-hover">
    <tbody>
        <tr>
            <td>Total fine assesed</td>
            <td>{{info.totalFineAssesed}}$</td>
        <tr>
            <td>Total fine paid</td>
            <td>{{info.totalFinePaid}}$</td>
        </tr>
    </tbody>
</table>
<p>
<p></p>
    <div class="row text-center">
        <div class="font-weight-bold col-1">ISBN</div>
        <div class="font-weight-bold col-2">Out Date</div>
        <div class="font-weight-bold col-2">Due Date</div>
        <div class="font-weight-bold col-2">In Date</div>
        <div class="font-weight-bold col-2">Fine Accessed</div>
         <div class="font-weight-bold col-2">Fine Paid</div>
    </div>
    {% for row in fineRecords %}
            <div class="row text-center">
                       <div class="col-1">{{row.ISBN}}</div>
        <div class="col-2">{{row.outDate}}</div>
        <div class="col-2">{{row.dueDate}}</div>
        <div class="col-2">{{row.InDate}}</div>
        <div class="col-2">{%if (row.fineAssesed)%} {{row.fineAssesed}}{% else%} 0{% endif%}$</div>
         <div class="col-2">{%if (row.finePaid)%} {{row.finePaid}}{% else%} 0{% endif%}$</div>
                </div>
        
            <p>
    
    {% endfor %}

  
