{% extends "master.html.twig" %}

{% block title %}
    Register User Homepage
{% endblock %}

{%block headAdd %}
    <script>
        $(document).ready(function () {
            $('.optionBt').click(function () {
                var name = $(this).attr('name');
                $("#content-detail").load("/registerUser/" + name);
            });

        });

    </script>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-4">
            <!-- Sidebar -->
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <p></p>
                    <p class="h2"> My Account </p>
                    <!--Collpase-->
                    <div class="accordion" id="accordionExample">
                        <div class="card" >
                            <div class="card-header" >
                                <h2 class="mb-0">
                                    <button class="btn btn-link h2 optionBt"  name="welcome">
                                        Welcome
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" >
                                <h2 class="mb-0">
                                    <button class="btn btn-link h2 optionBt" name="loanRenew" >
                                        Loans and Renewals
                                    </button></h2>
                            </div>
                            <div  data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-9">Number of loans</div>
                                        <div class="col-2">{{count.loan_numb}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-9">Items overdue</div>
                                        <div class="col-2">{{count.overdue_numb}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-9">Items soon overdue</div>
                                        <div class="col-2">{{count.soondue_numb}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link h2 optionBt" name="loanHistory">
                                        Loan history
                                    </button>
                                </h2>
                            </div>
                            <div  data-parent="#accordionExample">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-9">payments due</div>
                                        <div class="col-2">{{count.pay_due}}</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                       <div class="card" id="headingThree">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link h2 optionBt" name="payment" >
                                        Payment history
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <div class="card" id="headingFour">
                            <div class="card-header" id="headingFour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link h2 optionBt"  name="reserve">
                                        Reservations
                                    </button>
                                </h2>
                            </div>
                            <div  data-parent="#accordionExample">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-9">Number of reservations</div>
                                        <div class="col-2">{{count.reserv_times}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-9">Available resrvations</div>
                                        <div class="col-2">{{count.reserv_times}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="headingFive">
                            <div class="card-header" id="headingFive">
                                <h2 class="mb-0">
                                    <button class="btn btn-link h2" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                        Personal Information
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFive" class="collapse"  aria-labelledby="headingFive" data-parent="#accordionExample">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-11"><a href="#">Change my password</a></div>

                                    </div>
                                    <p>
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-11">{{v.firstName}} {{v.lastName}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-11">{{v.address}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-11">{{v.email}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-11">Membership expiry Date:{{v.expiryDate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>



        <div class="col-8 bookListControl">
            <div id="content-detail">
                <h1 class="mt-4">Welcome</h1>
                <hr>
                Hello <span class="font-weight-bold">{{v.firstName}} {{v.lastName}}</span>
                <p></p>
                <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
                <ui>
                    <li ><span class="font-weight-bold">Loans and Renewals</span> : view a list of your loans, their due dates, and renew items</li>
                    <li><span class="font-weight-bold">Loan history</span> : a list of all borrowed items (must be activated by staff)</li>
                    <li><span class="font-weight-bold">Reservations</span> : view and/or cancel  your reservations</li>
                    <li><span class="font-weight-bold">Personal information</span>: view your contact information and change your password</li>


            </div>
        </div>

    </div>

{% endblock %}