{% extends "register_user/register_user_master.html.twig" %}

{% block content %}
    <p class="bgound">
    <p>
    <div>  
        <div class="row">
            <div class="col-4"></div>
            <div class="col-5 font-weight-bold">Below books have been renewed successfully
              
            </div>
        </div>
        <ul>
            {% for row in v %}

                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-5"><li>{{row}}</li></div>

                </div>
            {% endfor %}
        </ul>
 
    </div>
            
      <div>  
        <div class="row">
            <div class="col-4"></div>
            <div class="col-5 font-weight-bold">You can't renew the below books which reached the maximum renew times.
              
            </div>
        </div>
        <ul>
            {% for row in f %}

                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-5"><li>{{row}}</li></div>

                </div>
            {% endfor %}
        </ul>
        <p class="text-center"><a href="/registerUser/">click to continue</a></p>
    </div>
{% endblock %}