<script>
    $(document).ready(function () {

    $('.btCancel').click(function () {
    var reservId = $(this).val();
    //var reservId = $(this).attr('name');
    alert (reservId);
            $.ajax({
            url: '/reservations/reserveDelete?reservId=' + reservId,
                    type: 'GET',
                    dataType: 'text'
                 }).done(function (order) {
                    loadPage(1, order);
                });
    });
    });
</script>


<form>
</script>
{% for row in itemsList %}
    <div class="row">
        <div class="col-1">
            <input type="checkbox" name="book" id="checkbox-{{row.ISBN}}" value="{{row.ISBN}}"></input>

        </div>
        <div class="col-3"><a href="/user/book-detail/{{row.ISBN}}"><img src ={{row.imagePath}} width="100" height="100"></a></img></div>
        <div class="col-8"> 
            <div class="row">
                <div class="font-weight-bold">{{row.titleName}}</div> 
            </div>
            <div class="row">
                <div class="col-6">Document Type:</div>
                <div class="col-6">{{row.category}}</div>
            </div>
            <div class="row">
                <div class="col-6">Reserved since:</div>
                <div class="col-6">{{row.logDate|date("Y/m/d")}}</div>
            </div>
            <div class="row">
                <div class="col-6">Reserved until:</div>
                <div class="col-6">{{row.expiryDate}}</div>
            </div>
            <div class="row">
                <div class="col-6">Pickup location</div>
                <div class="col-6">Kirkland</div>
            </div>
            <div class="row">
                <button type="button" class=" col-4 btn btn-primary btCancel" value={{row.id}}>Cancel</button>
            </div>
        </div>
    </div>
    <div class="py-3"></div>

{% endfor %}
</form>