{# empty Twig template #}
<script>
    function loadPage(pageNum, order = 'btReserveAsc') {
        $("#detail").load('/ajax/books/reserve/page/' + pageNum + '/sortby/' + order);
    }
    $(document).ready(function () {
        loadPage(1, 'btReserveAsc');

        $('.orderbyBtn').click(function () {
            var order = $(this).attr('name');
            var orderby = $(this).text();
            $("#orderby").html(orderby);
            loadPage(1, order);
        });
        $(".checkoutBtn").click(function () {
            var reserv = [];
            $.each($("input[name='book']:checked"), function () {
                reserv.push($(this).val());
            });
            //alert("My reservation books are: " + reserv.join(", "));
             $.ajax({
                        url: '/reservations/reserveSelected?reserv=' + reserv,
                        type: 'GET',
                        dataType: 'text'
                }).done(function (data) {
                    alert(data);
                });
        });
        
        $(".checkoutAllBtn").click(function(){
                         $.ajax({
                        url: '/reservations/reserveSelected?reserv=all',
                        type: 'GET',
                        dataType: 'text'
                }).done(function (data) {
                    alert(data);
                });
        });

        $('#select-all').click(function (event) {
            if (this.checked) {
                // Iterate each checkbox
                $(':checkbox').each(function () {
                    this.checked = true;
                });
            } else {
                $(':checkbox').each(function () {
                    this.checked = false;
                });
            }
        });

    });
</script>


<h3 class="mt-4">Reservations</h3>
<hr>
Here is a list of your reservations. You can cancel them or indicate that the document is no longer required after a certain date.
<p>
<div>
    <button type="button" value="selectedBook" class="btn btn-primary btn-sm checkoutBtn">Checkout selected reservations</button>
    <button type="button"  value="allBook" class="btn btn-primary btn-sm checkoutAllBtn">Checkout all reservations</button>
    <button type="button"   value="printBook" class="btn btn-primary btn-sm">Print</button>
    <button type="button"  value="sendEmail" class="btn btn-primary btn-sm">Send by email</button>
</div>

<p></p>
<span> Total: {{count.reserv_times}} books</span><p>
<div class='row'>
    <span class="font-weight-bold">Sort by:</span>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="orderby">Reservation date (ascending)</span>
        </button>
        <div class="dropdown-menu" id="btOrderbBy" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item orderbyBtn" type="button" name="btTitleAsc">Title (ascending)</button>
            <button class="dropdown-item orderbyBtn" type="button" name="btTitleDesc">Title (descending)</button>
            <button class="dropdown-item orderbyBtn" type="button" name="btReserveAsc">Reservation date (ascending)</button>
            <button class="dropdown-item orderbyBtn" type="button" name="btReserveDesc">Reservation date (descending)</button>
        </div>
    </div>
</div>
<p>
<p>
    <input type="checkbox" name="select-all" id="select-all" />(De)select all<br/>

<div id="detail">
</div>
<p>
<p>
<div id="pageNavigation" class="text-center">
    {% for num in range(1, count.totalPages) %}
        <a href="#" onClick="loadPage({{num}})">{{num}}</a>
    {% endfor %}     
</div>

