{% extends "master.html.twig" %}

{% block title %}
    Search Result
{% endblock %}

{%block headAdd %}
    <script>
        function loadPage(pageNum, order = 'btTitleAsc') {
            var filter = {};
            filter.search1 = $("#search1").val();
            filter.search2 = $("#search2").val();
            filter.search3 = $("#search3").val();

            filter.option1 = $("#option1").val();
            filter.option2 = $("#option2").val();
            filter.option3 = $("#option3").val();

            filter.operator1 = $("#operator1").val();
            filter.operator2 = $("#operator2").val();
            
            filter.orderby = order;

            filter.pageNum = pageNum;
            $("#detail").load('/user/search/page?filter=' + JSON.stringify(filter));
        }
        $(document).ready(function () {
            loadPage(1, 'btTitleAsc');
{#            loadPage(1, order);
             #}
             
            $("#btSearch").click(function(){
                var order = $('.optionBtn').attr('name');
                alert("dsfsdf");
                //loadPage(1, order);
            });
            $('.optionBtn').click(function () {
               
                var orderby = $(this).text();
                $("#orderby").html(orderby);
            });
        });

    </script>
{% endblock %}

{% block content %}
    <br/>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-6 h3" > Search Results</div>
        <div class="col-1"></div>
        <div class="col-3 h3" >Options</div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-6"><hr></div>
        <div class="col-1"></div>
        <div class="col-3"><hr></div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-6" id ="detail">
{#            {% for row in itemsList %}
                <div class="row">
                    <div class="col-3"><a href="/user/book-detail/{{row.ISBN}}"><img src ={{row.imagePath}} width="100" height="100"></a></img></div>
                    <div class="col-8"> 
                        <div class="row">
                            <div class="font-weight-bold">{{row.titleName}}</div> 
                        </div>
                        <div class="row">
                            <div class="col-6">Author:</div>
                            <div class="col-6">{{row.author}}</div>
                        </div>
                        <div class="row">
                            <div class="col-6">Document Type:</div>
                            <div class="col-6">{{row.category}}</div>
                        </div>
                    </div>
                </div>
                <p>          
                {% endfor %}#}

        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <div class="row p-2">
                <div class="col-12">
                    <strong>Advance Search</strong>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-3"></div>
                <div class="col-5">
                    <input class="form-control" type="text" id="search1"/>
                </div>
                <div class="col-4">
                    <select class="custom-select" id="option1">
                        <option value="title">Title</option>
                        <option value="author">Author</option>
                        <option value="ISBN">ISBN</option>
                    </select>
                </div>
            </div>
            <div class="row"></div>
            <div class="row p-2">
                <div class="col-3">
                    <select class="custom-select" id="operator1">
                        <option value="title">And</option>
                        <option value="author">Or</option>
                    </select>
                </div>
                <div class="col-5">
                    <input class="form-control" type="text" id="search2"/>
                </div>
                <div class="col-4">
                    <select class="custom-select" id="option2">
                        <option value="title">Title</option>
                        <option value="author">Author</option>
                        <option value="ISBN">ISBN</option>
                    </select>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-3">
                    <select class="custom-select" id="operator2">
                        <option value="title">And</option>
                        <option value="author">Or</option>
                    </select>
                </div>
                <div class="col-5">
                    <input class="form-control" type="text" id="search3"/>
                </div>
                <div class="col-4">
                    <select class="custom-select" id="option3">
                        <option value="title">Title</option>
                        <option value="author">Author</option>
                        <option value="ISBN">ISBN</option>
                    </select>

                </div>
            </div>

            <div class="row pt-3">

                <div class="col-4"><span class="font-weight-bold">Sort by:</span></div>
                <div class="dropdown col-8">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="orderby">Title (ascending)</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item optionBtn" type="button" name="btTitleAsc">Title (ascending)</button>
                        <button class="dropdown-item optionBtn" type="button" name="btTitleDesc">Title (descending)</button>
                    </div>
                </div>
            </div>
                        <div class="row p-5">
                <div class="col-3"></div>
                <div class="col-9"><button id="btSearch" class=" btn btn-primary">Search</button></div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

{% endblock %}