{# empty Twig template #}
            <div class="row h5">
                <strong> Total: {{count.resultCount}} results</strong>
            </div>
                <p>
{% for row in itemsList %}
                <div class="row">
                    <div class="col-3"><a href="/user/book-detail/{{row.ISBN}}"><img src ={{row.imagePath}} width="100" height="100"></a></img></div>
                    <div class="col-8"> 
                        <div class="row">
                            <div class="font-weight-bold">{{row.titleName}}</div> 
                        </div>
                        <div class="row">
                            <div class="col-6">Author:</div>
                            <div class="col-6">{{row.author}}</div>
                        </div>
                        <div class="row">
                            <div class="col-6">Document Type:</div>
                            <div class="col-6">{{row.category}}</div>
                        </div>
                    </div>
                </div>
                <p>          
 {% endfor %}
 
 
         <div id="pageNavigation" class="text-center">
        {% for num in range(1, count.totalPages) %}
            <span class="px-1"><a href="#" onClick="loadPage({{num}})">{{num}}</a></span>
        {% endfor %}     