<script>
$('#select-all').click(function(event) {   
    if(this.checked) {
        // Iterate each checkbox
        $(':checkbox').each(function() {
            this.checked = true;                        
        });
    } else {
        $(':checkbox').each(function() {
            this.checked = false;                       
        });
    }
});
</script>
<!-- select all boxes -->
<input type="checkbox" name="select-all" id="select-all" />
<input type="checkbox" name="book" id="book-1" />1
<input type="checkbox" name="book" id="book-2" />2
<input type="checkbox" name="book" id="book-3" />3

