{# empty Twig template #}
<h1 class="mt-4">Welcome</h1>
<hr>
Hello <span class="font-weight-bold">{{v.firstName}} {{v.lastName}}</span>
<p></p>
<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
<ui>
    <li ><span class="font-weight-bold">Loans and Renewals</span> : view a list of your loans, their due dates, and renew items</li>
    <li><span class="font-weight-bold">Loan history</span> : a list of all borrowed items (must be activated by staff)</li>
    <li><span class="font-weight-bold">Reservations</span> : view and/or cancel  your reservations</li>
    <li><span class="font-weight-bold">Personal information</span>: view your contact information and change your password</li>