{% extends "master.html.twig" %}


{% block title %}Reset Password Code{% endblock title %}
{% block headAdd  %}
    <link rel="stylesheet" href="/css/stylesAdd.css">

{% endblock headAdd %}
   

{% block content %}
    <div id="centerContent">
    <h2 id="h2border">Reset your password</h2>

    <h3>Enter the code</h3>

        {% if errorList %}
            {% for error in errorList %}
            <p>{{error}} <a id="colorChange" href="/register">register</a></p>
            {% endfor %}
        {% endif %}
        <form class="form-signin" method="POST">
             <div class="form-group">
                 Reset Code:<br> <input type="password" class="col form-control" name="resetCode" required>
             </div>
        <button class="btn btn-primary btn-block" type="submit">Send</button>

      </form>
    
    </div>
{% endblock content %}