{% extends "master.html.twig" %}
{% block headAdd  %}
    <link rel="stylesheet" href="/css/stylesAdd.css">

{% endblock headAdd %}

{% block title %}Reset Password Complete{% endblock title %}
   

{% block content %}
    <div id="centerContent">
    <h2 id="h2border">Password Reset Complete!</h2>

    <h3>Now you can Login</h3>

    <div class="form-signin">
        <button class="btn  btn-primary btn-block"  href="/login">Login</button>
    </div>

    </div>
{% endblock content %}