{% extends "master.html.twig" %}

{% block title %}Enter new Password{% endblock title %}
{% block headAdd  %}
    <link rel="stylesheet" href="/css/stylesAdd.css">

{% endblock headAdd %}
   

{% block content %}
    <div id="centerContent">
    <h2 id="h2border">Reset your password</h2>

    <h3>Enter a new Password</h3>

        {% if errorList %}
            {% for error in errorList %}
                <p class="errorMessage">{{error}} </p>
            {% endfor %}
        {% endif %}
        <form class="form-signin" method="POST" >
            
            Password : <input type="text" name="pass1" class="form-control" required><br>
            Confrim Password : <input type="text" name="pass2" class="form-control" required><br>
        <button class="btn  btn-primary btn-block" type="submit">Send</button>

      </form>
    
    </div>
{% endblock content %}