{% extends "master.html.twig" %}
{% block headAdd  %}
    <link rel="stylesheet" href="/css/stylesAdd.css">

{% endblock headAdd %}

{% block title %}Password Reset{% endblock title %}
   

{% block content %}
    <div id="centerContent">
    <h2 id="h2border">Reset your password</h2>

    <h3>Enter valid email</h3>
    {% if errorList %}
        <ul class="errorMessage">
            {% for error in errorList %}
                <li> {{error}}</li>
            {% endfor %}
        </ul>
    {% endif %}
<form class="form-signin" method="POST" >
        <div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">@</span>
	  <input type="text" name="email" class="form-control" placeholder="Email" required>
	</div>
	<br />
        <button class="btn  btn-primary btn-block" type="submit">Reset Password</button>
        <a class="btn btn-primary btn-block" href="\login">Login</a>
      </form>
    
    </div>
{% endblock content %}