{% extends "master.html.twig" %}
{% block headAdd  %}
    <link rel="stylesheet" href="/css/stylesAdd.css">

{% endblock headAdd %}

{% block title %}Verify Password Reset{% endblock title %}
   

{% block content %}
    <div id="centerContent">
    <h2 id="h2border">Reset your password</h2>

    <h3>Enter valid email</h3>
    <div id="memberIdentity">
        <div>
            <div class="row">
                <div class="col">
                    <img src="/img/defaultuser.jpg" width="200">
                    <p><b>{{user.firstName}}</b></p>
                    <p>Library AW User</p>
                </div>
                <div class="col">
                    <br>
                    <p><b>How do you want to get the code to reset your password?</b></p><br>
                    <div id="radioHover">
                        <input type="radio" name="send" checked> {{emailEncrypt}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form class="form-signin" method="POST">
        <button class="btn  btn-primary btn-block" type="submit">Send</button>
        <a class="btn btn-primary btn-block" href="/forgotpassword">Not You?</a>
      </form>
    
    </div>
{% endblock content %}