
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn
{
    background-color: #343a40;
}

#centerContent{
    margin: 0 auto;
    padding:20px;
    margin-top:100px;
    margin-bottom:200px;
    width:960px;
    background-color:#5a88ca;
    font-family: verdana;
    color: white;
    text-align: center;
    border: 4px #343a40 solid;
    
}

#h2border
{
    border-bottom: 4px white solid;
    padding-bottom:30px;
}

#memberIdentity
{
    border: 2px white solid;
    margin-left: 200px;
    margin-right: 200px;
    padding:10px;
    text-align: left;
    background-color:white;
    color:#343a40;
}

#radioHover:hover{
    background-color:#e6e6e6;
}

#colorChange
{
    color:white;
    text-decoration: underline;
}
#colorChange:hover
{
    color:lightgrey;
}

/*#343a40*/