{% extends "master.html.twig" %}

{% block title %}
    Register User Homepage
{% endblock %}

{%block headAdd %}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btloanRenew").click(function () {
                var name = "loanRenew";
                $("#content-detail").load("/registerUser/" + name);
            });
            $("#btwelcome").click(function () {
                var name = "welcome";
                $("#content-detail").load("/registerUser/" + name);
            });
            $("#report").click(function () {

                $("#contentLoad").load("/admin/report");
            });
        });
        function loadMembers()
        {
            $('#contentLoad').load('/admin/members/list');
        }
        function loadBooks()
        {
            $('#contentLoad').load('/admin/books/list');
        }
        function loadTitles()
        {
            $('#contentLoad').load('/admin/titles/list');
        }
        function loadCopies()
        {
            $('#contentLoad').load('/admin/copies/list');
        }
        
    </script>
{% endblock %}

{% block content %}

    <div class="row"  style="margin-bottom: 200px;">
        <div class="col-4">
            <!-- Sidebar -->
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <p></p>
                    <p class="h3"> Administrator </p>
                    <!--Collpase-->
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link h2" data-toggle="collapse"  data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Member Information:
                                    </button></h2>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="col-11"><a href="/homepage">Home Page</a></div><br>
                                    <div class="col-11"><a href="/login/admin">Account Page</a></div><br>
                                    <div class="col-11"><a href="/member/edit/{{v.id}}">Edit account information</a></div><br>
                                    <div class="col-9"><button class="btn" onClick="loadMembers()">View members list</button></div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link h2" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Book Information:
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                        <div class="col-11"><a href="/admin/books/add">   Add Book</a></div>
                                        <br>
                                        <div class="col-11"><a href="/admin/titles/add">  Add Title</a></div>
                                        <br>
                                         <div class="col-11"><a href="/admin/copies/add">  Add Copy </a></div>
                                        <br>
                                        <div class="col-9"><button class="btn" onClick="loadBooks()">View books list</button></div>
                                        <br>
                                        <div class="col-9"><button class="btn" onClick="loadCopies()">View copies list</button></div>
                                        <br>
                                        <div class="col-9"><button class="btn" onClick="loadTitles()">View titles list</button></div>


                                </div>
                            </div>

                        </div>
                        
                        <div class="card" id="headingFour">
                            <div class="card-header" id="headingFour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link h2" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        Reports:
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">                         
                                    <div class="col"><button class="btn" id="report">Reports of all loans</button></div>       
                                </div>
                            </div>

                        </div>

                       <div class="card" id="headingFive">
                            <div class="card-header" id="headingFive">
                                <h2 class="mb-0">
                                    <button class="btn btn-link h2" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                        Loans:
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordionExample">
                                <div class="card-body">

                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="col-11"><a href="/admin/books/return">Process a Return</a></div>

                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>


            
        <div class="col-8" >
            
            <div id="contentLoad">
            <span id="content-detail">
                <div class="row">
                    <div class="col">
                        <h3 class="mt-4">Welcome</h3>
                    </div>
                    <div class="col">
                        <br>
                        
                    </div>
                </div>
            <hr>
            Hello <span class="font-weight-bold">{{v.firstName}} {{v.lastName}}</span>
            <p></p>
            <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. 
                Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
             {% block contentAdd %}{% endblock %}
            
                
                
            </span>
        </div>
        </div>

    </div>

{% endblock %}