{% for item in itemsList %}
    <div class="productBox">
        <h3>Copy Id: {{item.id}}, ISBN: {{item.ISBN }}</h3><a href="/admin/copies/edit/{{item.id}}">Edit</a>
        <div><a href="/admin/copies/delete/{{item.id}}">Delete</a></div>
        <p>Title Id: {{item.titleId}}</p>
        <p>On Loan: {{item.on_Loan}}</p>
    </div>
    <hr>
        
{% endfor %}