<br>Author: <br> <input type="text" name="author" class="form-control" size="30" value="{{t.author}}" {{r.readOnly}}><br> 
                    <span>{{errorList['author']}}</span><br>
Synopsis: <br> <textarea type="text" cols="100" rows="10" class="form-control" style="width:300px;" name="synopsis" {{r.readOnly}}>{{t.synopsis}}</textarea><br>
    <span>{{errorList['synopsis']}}</span><br>