{% for item in itemsList %}
    <div class="productBox">
        <h3>ISBN: {{item.ISBN}}, Title ID:{{item.titleId}}</h3><a href="/admin/books/edit/{{item.id}}">Edit</a>
        <div><a href="/admin/books/delete/{{item.id}}">Delete</a></div>
        <p>Language: {{item.language }}, Category: {{item.category}}</p>
        <p>Cover: {{item.cover}}</p>
        <img src="/{{item.imagePath}}" width="100" height="200">
    </div>
    <hr>
        
{% endfor %}