{% for item in itemsList %}
    <div class="productBox">
        <h3>Title: {{item.titleName}}, Author:{{item.author}}</h3><a href="/admin/titles/edit/{{item.id}}">Edit</a>
        <div><a href="/admin/titles/delete/{{item.id}}">Delete</a></div>
        <h4>Synopsis:</h4>
        <p>{{item.synopsis }}</p>

    </div>
    <hr>
        
{% endfor %}