{% for item in itemsList %}
    <div class="productBox">
        <h3>{{item.lastName}}, {{item.firstName}}</h3><a href="/member/edit/{{item.id}}">Edit</a>
        <div><a href="/admin/member/delete/{{item.id}}">Delete</a></div>
        <p>Role: {{item.role }}, Address: {{item.address}}</p>
        <p>Email: {{item.email}}</p>
        <p>Expiry Date: {{item.expiryDate }}</p>
    </div>
    <hr>
        
{% endfor %}