{% extends "master.html.twig" %}
{% block headAdd  %}
    <link rel="stylesheet" type="text/css" href="/css/stylesAdd.css">
{% endblock headAdd %}
{% block content %}
    <div id="centerContent">
        {% if errorList %}
            <ul class="errorMessage">
                {% for error in errorList %}
                    <li> {{error}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>Are you sure you want to delete the following product?</p>
        <p> Item id:{{item.id}}, Item ISBN:{{item.ISBN}} at Item Title:{{item.titleId}}</p>
        <div>{{item.description}}</div>
        <br>
        <button class="btn" style="margin-right: 20px" onclick="window.location='/admin/books/list'">Cancel</button>
        <form style="display:inline" method="post" action="/admin/books/delete/{{item.id}}">
            <input type="hidden" name="confirmed" class="btn" value="true">
            <input type="submit" value="Delete forever" class="btn">
        </form>
    </div>
{% endblock %}