{% extends "master.html.twig" %}
{% block title %}{% if action %}Edit{% else %}Add Title{%endif %} Book Sucessful{% endblock title %}
{% block headAdd  %}
    <link rel="stylesheet" href="/css/stylesAdd.css">

{% endblock headAdd %}

{% block content %}
    <div id="centerContent">
    <p>Book {% if action %}Edited{% else %}Added{%endif %} successfully</p>
     <a href="/login">return</a>
    </div>
   
    
{% endblock content %}  