    
{% block headAdd %}
    <script>
        function loadPage(pageNum) {
            $("#booksView").load('/ajax/books/page/' + pageNum);
        }        
        $(document).ready(function() {
            loadPage(1);
        });
    </script>
   
{% endblock %}

{% block content %}
    <div id="centerContent">
    <div id="booksView">
        
    </div>
        <br><br>
    <div id="pageNavigation">
        {% for num in range(1, totalPages) %}
            <button class="btn" onClick="loadPage({{num}})">{{num}}</button>
        {% endfor %}     
    </div>
    </div>
{% endblock content %}