{% extends "master.html.twig" %}
{% block title %}{% if v.id %}Edit{% else %}Add Title{%endif %} Book{% endblock title %}
    {% block headAdd  %}
    <script>
        console.log('working');
        var title="";
            $(document).ready(function() {
                $('input[name=title]').blur(function() {
                    title =  encodeURIComponent($('input[name=title').val());
                    $('#titleLoad').load("/ajax/title/" + title);
                    $('input[name=author').attr('readonly', true);
                    $('input[name=synopsis').attr('readonly', true);
                });
                
                    title =  encodeURIComponent($('input[name=title').val());
                    $('#titleLoad').load("/ajax/title/" + title);

            });
        </script>
        <link rel="stylesheet" href="/css/stylesBooks.css">
{% endblock headAdd %}

{% block content %}
    <div id="centerContent">

        <h2 id="h2border">{% if v.id %}Save{% else %}Add{%endif %} A Book</h2>
        {% if errorList %}
        <ul class="errorMessage">
            {% for error in errorList %}
                <li> {{error}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                    ISBN:<br> <input type="text" name="isbn" class="form-control" size="30" value="{{v.ISBN}}">
                        
                    </div>  
                   
                    Title:<br> <input type="text" name="title" size="30" class="form-control" value="{{v.titleName}}">
                        
                    
                   
                    Language:<br> <input type="text" name="language" size="30" class="form-control" value="{{v.language}}">
                      
                    
                    
                    <br>Category: <select name="category" class="form-control">
                                <option value="Kids" selected>Kids</option>
                                <option value="Westerns">Westerns</option>
                                <option value="Cook">Cook</option>
                                <option value="Computer">Computer</option>
                                <option value="Arts&Music">Arts&Music</option>
                              </select>
                    
                    <br>Cover:<br>
                {% if v.cover =='soft' %}
                    {% set softCheck = 'checked' %}
                {% elseif v.cover =='hard' %}
                    {% set hardCheck = 'checked' %}
                {% elseif v.cover =='ebook' %}
                    {% set eCheck = 'checked' %}
                {% else %}
                    {% set softCheck = ''%}
                    {% set hardCheck ='checked'%}
                    {% set eCheck =''%}
                {% endif %}
                Hard:<input type="radio" name="cover" value="hard" {{hardCheck}}>
                Soft: <input type="radio" name="cover" value="soft"{{softCheck}}>
                E-book: <input type="radio" name="cover" value="ebook"{{eCheck}}><br><br>
                <!--Dont forget loanable-->
                Image Path: <input type="file" class="form-control-file" name="imagePath" ><br>
                
                <input type="submit" class="btn" value="{% if v.id %}Save{% else %}Add{%endif %} a book"><br> 
                </div>
                <div class="col" id="titleLoad">
                
                </div>
            </div>

        </form>
    </div>
        
{% endblock content %}