{% extends "master.html.twig" %}
{% block headAdd  %}
<link rel="stylesheet" href="/css/stylesAdd.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript">

</script>

{% endblock headAdd %} 
 
 {% block content %}
      <canvas id="graphCanvas"></canvas>
  <script>
        $(document).ready(function () {
            showGraph();
            
        });


        function showGraph()
        {
            {
                $.ajax({
                    url: '/ajax/admin/report/year',
                    type: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    console.log(data);
                    console.log("Ready");
                     var loans = [];
                    var years = [];

                    for (var i in data) {
                        loans.push(data[i].loansPer);
                        years.push(data[i].year);
                    }

                    var chartdata = {
                        labels: years,
                        datasets: [
                            {
                                label: 'Loans By Year',
                                backgroundColor: '#49e2ff',
                                borderColor: '#46d5f1',
                                hoverBackgroundColor: '#CCCCCC',
                                hoverBorderColor: '#666666',
                                data: loans
                            }
                        ]
                    };

                    var graphTarget = $("#graphCanvas");

                    var barGraph = new Chart(graphTarget, {
                        type: 'bar',
                        data: chartdata
                    });
                });
            }
        }
        </script>
{% endblock content %}