{% extends "master.html.twig" %}
{% block headAdd  %}
    <link rel="stylesheet" type="text/css" href="/css/stylesAdd.css">
{% endblock headAdd %}
{% block content %}
    <div id="centerContent">
    <p>Member deleted successfully,
        <a href="/admin/books/list">click to continue</a></p>
    </div>
{% endblock %}