
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
 <script>
        $(document).ready(function () {
            showGraph();    
            $('#year').click(function () {
                showGraph('year');
                barGraph.clear();
            });
            $('#month').click(function () {
                showGraph('month');
                barGraph.clear();
            });
            $('#day').click(function () {
                showGraph('day');
                barGraph.clear();
            });
        });


        function showGraph(order='year')
        {
            {
                $.ajax({
                    url: '/ajax/admin/report/'+order,
                    type: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    console.log(data);
                    console.log("Ready");
                     var loans = [];
                    var dateOrder = [];

                    for (var i in data) {
                        loans.push(data[i].loansPer);
                        dateOrder.push(data[i].dateOrder);
                    }

                    var chartdata = {
                        labels: dateOrder,
                        datasets: [
                            {
                                label: 'Loans by  '+order,
                                backgroundColor: '#5a88ca',
                                borderColor: '#46d5f1',
                                hoverBackgroundColor: '#343a40',
                                hoverBorderColor: '#666666',
                                data: loans
                            }
                        ]
                    };

                    var graphTarget = $("#graphCanvas");
                    var barType;
                    if(order=='year')
                    {
                        barType='bar';
                    }
                    else
                    {
                        barType='line';
                    }
                    var barGraph = new Chart(graphTarget, {
                        type: barType,
                        data: chartdata
                    });
                });
            }
        }
        </script>


    <div id="centerContent">
    <h2 id="h2border">Loan Reports</h2>
    <div>
    <button class="btn" id="year">Year</button>
    <button class="btn"  id="month">Month</button>
    <button class="btn"  id="day">Day</button>
    </div>
    <h3>Chart</h3>
        <div id="chart-container">
            <canvas id="graphCanvas"></canvas>
        </div>
       

    </div>
        
