{% extends "master.html.twig" %}
{% block headAdd  %}
    <link rel="stylesheet" type="text/css" href="/css/stylesAdd.css">
{% endblock headAdd %}
{% block content %}
    <div id="centerContent" class="marginForBottom">
        <h3 id="h2border">Process a Return</h3>
        {% if errorList %}
        <ul class="errorMessage">
            {% for error in errorList %}
                <li> {{error}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="form-signin">
            <form style="display:inline"  method="post" class="form-signin" >
                <input type="text" name="email" class="form-control" placeholder="Enter Email" value="{{v.email}}" ><br>
                <input type="text" name="copyId" class="form-control" placeholder="Enter Copy ID" value="{{v.copyId}}" ><br>
                <input type="text" name="ISBN" class="form-control" placeholder="Enter ISBN" value="{{v.ISBN}}" ><br>
                
                <input type="submit" class="btn">
            </form>
        </div>
    </div>
{% endblock %}