{% extends "master.html.twig" %}
{% block headAdd  %}
    <link rel="stylesheet" type="text/css" href="/css/stylesAdd.css">
{% endblock headAdd %}
{% block content %}
    <div id="centerContent">
    <p>Successfully returned Copy Id:{{copyId}}, ISBN:{{ISBN}}, from Email:{{email}}.
        <a href="/login/admin">click to continue</a></p>
    </div>
{% endblock %}