{% extends "master.html.twig" %}
{% block title %}{% if v.id %}Edit{% else %}Add Title{%endif %} Title{% endblock title %}
    {% block headAdd  %}
    <script>
        console.log('working');
        </script>
        <link rel="stylesheet" href="/css/stylesBooks.css">
{% endblock headAdd %}

{% block content %}
    <div id="centerContent">

        <h2 id="h2border">{% if v.id %}Save{% else %}Add{%endif %} A Title</h2>
        {% if errorList %}
        <ul class="errorMessage">
            {% for error in errorList %}
                <li> {{error}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post" class="form-signin">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                   
                Title:<br> <input type="text" name="titleName" size="30" class="form-control" value="{{v.titleName}}">
               
                        
                <br>Author: <br> <input type="text" name="author" class="form-control" size="30" value="{{v.author}}"><br> 
                
                    
                Synopsis: <br> <textarea type="text" class="form-control" style="width:300px;height:300px" name="synopsis">{{v.synopsis}}</textarea><br>
                                   
                <input type="submit" class="btn" value="{% if v.id %}Save{% else %}Add{%endif %} a title"><br> 
                </div>
                <div class="col" id="titleLoad">
                
                </div>
            </div>

        </form>
    </div>
        
{% endblock content %}