{# empty Twig template #}
{% extends "master.html.twig" %}

{% block title %}
Access denied
{% endblock %}
{% block content %}
    <P> Access denied, <a href="/login"> click to login </a></p>
    {% endblock %}