{% extends "master.html.twig" %}

{% block title %}
    LibraryAW Homepage
{% endblock %}
{% block content %}
  
    <!-- Photo by Sylvia Yang on Unsplash -->
    <img src="img\homepage5.jpg" alt="Library photo"> </img>
    <hr>
    <div class="row">
            <div class="col-4 p-5 mb-4 bg-dark text-white text-left">
                <p class="h4 text-center">Opening Hours</p>
                <span class="border-top my-3"><hr></span>
                <div class="col-12 h6 ">
                    <div class="row p-2 text-warning">
                        <div class="col-6 ">
                            Sunday
                        </div>
                        <div class="col-6">
                            10:00-17:00
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-6">
                            Monday
                        </div>
                        <div class="col-6">
                            10:00-21:00
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-6">
                            Tuesday
                        </div>                
                        <div class="col-6">
                            10:00-21:00
                        </div>  
                    </div>
                    <div class="row p-2">
                        <div class="col-6">
                            Wednesday
                        </div>                
                        <div class="col-6">
                            10:00-21:00
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-6">
                            Thurday
                        </div>
                        <div class="col-6">
                            10:00-21:00
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-6">
                            Friday
                        </div>                
                        <div class="col-6">
                            10:00-21:00
                        </div>   
                    </div>
                    <div class="row p-2 text-warning">
                        <div class="col-6">
                            Saturday
                        </div>                
                        <div class="col-6">
                            10:00-17:00
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4 h6 text-left">
                <p class="h5 text-left font-weight-bold">UPCOMING EVENTS</p>
                <span class="border-top my-3"><hr></span>
                <p class="bg-dark text-white"> Friday June 28,2019</p>
                <p class="bg-light font-weight-bold ">Title1</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores</p>
                <p class="bg-dark text-white"> Friday June 28,2019</p>
                <p class="bg-light font-weight-bold ">Title2</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores</p>

            </div>
            <div class="col-4 border">
                <div class="col-12 text-center">
                    <button type="button" class="btn btn-large btn-dark btnTrans2" >I need help</button>
                </div>
                <div>
                    <!-- Aaron, do you think your live chat can be implement here? -->
                </div>
            </div>
        </div>
    
{% endblock %}
