{# empty Twig template #}
{% extends "master.html.twig" %}

{% block title %}
Problem
{% endblock %}
{% block headAdd  %}
    <link rel="stylesheet" type="text/css" href="/css/stylesAdd.css">
{% endblock headAdd %}
{% block content %}
    <div id="centerContentInternalError">
    <h3>Internal error</h3>
    <img src="/img/codingcat.gif" width='200' alt="error">
    <P> Internal error. We are working on it. We apologize for the inconvenience. <a href="/"> click to continue </a></p>
    </div>
{% endblock %}