{% extends "master.html.twig" %}

{% block title %}
    Login
{% endblock %}
{% block headAdd  %}
    <link rel="stylesheet" href="/css/stylesAdd.css">
    <script>
        $(document).ready(function() {
                $('#logout').onload(function() {
                    if($('#logout').val()!=null))
                    {
                        window.history.pushState("", "", '/login');
                    }
                });             
            });
    </script>
{% endblock headAdd %}
{% block content %}
    
    <div id="centerContent">
        {% if logout %}
                    <p id="logout">{{logout}}</p>
                {% endif %}
        <h2 id="h2border">Login</h2>
        <div class="row">
            <div class="col-5" id="paddingLogin">
                
                <h3>Sign in</h3>
               

                <form  method="post">
                    <div class="form-group">
                        Email: <input type="text" name="email" class="form-control"  placeholder="Enter email" value="">
                    </div>
                    <div class="form-group">
                        Password: <input type="password" name="password" class="form-control"  placeholder="Enter password" value="">
                    </div>
                    <input type="submit" class="btn  btn-primary btn-block" value="Login">
                </form>
                <button class="btn colorChange" id="colorChange" onclick="window.location='/member/register'">Register</button><br><br>
                {% if errorList %}
                    <p class="errorMessage ">* Invalid login credentials, try again </p>
                    {% endif %}
            </div>
                <div class="col-7 borderSide" >
                    
                    <p>Please enter the registered email with our library.</p>
                    <br><br>
                    <p>Did you forget your password? See our contact page <a class="contactPage" href="/contactpage">here</a> for more information.</p>
                    <br><br>
                    <p>Or reset your password through email.</p>
                    <button class="btn colorChange" id="colorChange" onclick="window.location='/recovery/password'">Reset Password</button>
                    
                </div>
        </div>
    </div>
{% endblock content %}