{% extends "master.html.twig" %}
{% block title %}Login{% endblock title %}
    

{% block content %}
    <div id="centerContent">
        <h2>Login</h2>
        <br>
        <h3>Enter account information</h3>
        <p>You have successfully logged in as {{member.firstName}}</p>
        <p><a href="/register">Register an account</a>
    </div>
    
{% endblock content %}
