{% extends "master.html.twig" %}

{% block title %}
    LibraryAW Homepage
{% endblock %}
{% block headAdd  %}
    <script>
        var email=""
            $(document).ready(function() {
                $('input[name=email]').blur(function() {
                    email = $('input[name=email').val();
                    $('#isTaken').load("isemailregistered/" + email);

                });             
            });
        </script>
        <link rel="stylesheet" href="/css/stylesAddRegister.css">
{% endblock headAdd %}
{% block content %}
<div id="centerContent">
<p>Registration successful</p>
</div>

{% endblock content %}