{% extends "master.html.twig" %}
{% block headAdd  %}
    <script>
        var email=""
            $(document).ready(function() {
                $('input[name=email]').blur(function() {
                    email = $('input[name=email').val();
                    $('#isTaken').load("isemailregistered/" + email);

                });             
            });
        </script>
        <link rel="stylesheet" href="/css/stylesAddRegister.css">
{% endblock headAdd %}

{% block title %}Register{% endblock title %}
   

{% block content %}
    <div id="centerContent">
    <h2 id="h2border">Register</h2>
    <br>
    <h3>Enter account information</h3>

    <form method="post" id="contactForm" class="form-signin">
       
        First Name: <input type="text" name="firstName" id="firstName" class=" form-control" placeholder="Enter First Name" value="{{v.firstName}}" ><span class="errorMessage">{{errorList['firstNameError']}}</span>

        <br> 

        Last Name: <input type="text" name="lastName" class="form-control" placeholder="Enter Last Name" value="{{v.lastName}}"><span class="errorMessage">{{errorList['lastNameError']}}</span>
        <br> 
        {% if roleType == 'admin' %}
        Expiry Date: <input type="date" name="expiryDate" class="form-control"  value="{{v.expiryDate}}"><span class="errorMessage">{{errorList['dateError']}}</span>
        <br>
        {% endif %}
        Email: <input type="email" name="email"  class="form-control"  placeholder="Enter Email" value="{{v.email}}"><span class="errorMessage">{{errorList['emailError']}}</span>
      
        <span id="isTaken" class="errorMessage"></span><br> 


        Password: <input type="text" name="pass1" class="form-control" placeholder="Enter Password" value="{{pass1}}"><span class="errorMessage">{{errorList['pass1Error']}}</span>
        <br> 

        Confirm Password: <input type="text" name="pass2" class="form-control" placeholder="Confirm Password" value="{{pass2}}"><span class="errorMessage">{{errorList['pass2Error']}}</span>
        <br>

        Address: <input type="text" name="address" class="form-control" placeholder="Enter Address" value="{{v.address}}"><span class="errorMessage">{{errorList['addressError']}}</span>
        <br>
        
        {% set userCheck = 'checked'%}
        {% set adminCheck =''%}
        {% if roleType == 'admin' %}
            {% if v.role =='user' %}
                {% set userCheck = 'checked' %}
            {% elseif v.role =='admin' %}
                {% set adminCheck = 'checked' %}
            {% endif %}
            Role: <br> User: <input type="radio" name="role" value="user" {{userCheck}}><br>
            Admin: <input type="radio" name="role" value="admin"{{adminCheck}}><br><br>
        {% endif %}
        <br>
        <input onclick="checkForm()" type="submit" value="{{action}}" id="submit" class="btn btn-primary"><span id="errorSubmit"></span><br> 
        </div>
    </div>
    </form>
        
{% endblock content %}